<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/scale.fix.js"></script>
<script src="/js/modernizr.js"></script>
<script src="/js/scripts.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
<script src="/js/animatedModal.min.js"></script>

<script type="text/javascript">
  // Used to make sure that if the user is on mobile,
  // they will have a fallback image instead of video
  $(document).ready(function() {
    if(Modernizr.touch){
      $("#video-container video").hide();
      $("#video-container").css("background", "linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(/images/fallback3.jpg) #111")
      .css("background-position", "center center")
      .css("background-size", "cover")
      .css("min-height", "545px");
    }
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $(document).on("scroll", throttle(onScroll, 50));
  });
</script>

<script>
  var col = "#FFF";
  //col = "#F33446";
  $("#ScientificCalculatorModal").animatedModal({
      modalTarget: 'ScientificCalculator',
      color: col,
      animatedIn: "fadeIn",
      animatedOut: "fadeOut",
      animationDuration: "0.4s"
  });
  $("#FinanceManagerModal").animatedModal({
      modalTarget: 'FinanceManager',
      color: col,
      animatedIn: "fadeIn",
      animatedOut: "fadeOut",
      animationDuration: "0.4s"
  });

  $("#appointmentManagerModal").animatedModal({
      modalTarget: 'appointmentManager',
      color: col,
      animatedIn: "fadeIn",
      animatedOut: "fadeOut",
      animationDuration: "0.4s"
  });

  $("#GradePredictionApplicationModal").animatedModal({
    modalTarget: 'GradePredictionApplication',
    color: col,
    animatedIn: "fadeIn",
    animatedOut: "fadeOut",
    animationDuration: "0.4s"
  });

  $("#BrainTrainingModal").animatedModal({
    modalTarget: 'BrainTraining',
    color: col,
    animatedIn: "fadeIn",
    animatedOut: "fadeOut",
    animationDuration: "0.4s"
  });

  $("#jQueryModal").animatedModal({
    modalTarget: 'jQuery',
    color: col,
    animatedIn: "fadeIn",
    animatedOut: "fadeOut",
    animationDuration: "0.4s"
  });

  $("#ExpressionSolverModal").animatedModal({
    modalTarget: 'ExpressionSolver',
    color: col,
    animatedIn: "fadeIn",
    animatedOut: "fadeOut",
    animationDuration: "0.4s"
  });

  $("#PcPartPickerModal").animatedModal({
    modalTarget: 'PcPartPicker',
    color: col,
    animatedIn: "fadeIn",
    animatedOut: "fadeOut",
    animationDuration: "0.4s"
  });

  $("#GestureControlled").animatedModal({
    modalTarget: 'GestureControlled',
    color: col,
    animatedIn: "fadeIn",
    animatedOut: "fadeOut",
    animationDuration: "0.4s"
  });

</script>